<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/environment.css" />
    <title>Underwater Lifestyles</title>
</head>

<body>

    <header class="header">
        <h1 id="header__logo">Underwater Lifestyles</h1>
        <nav class="header__nav">
            <!-- <ul class="header__nav_list">
                <li class="header__nav_listItem"><a href="#">About</a></li>
                <li class="header__nav_listItem"><a href="#">Contact</a></li>
            </ul> -->
        </nav>
    </header>

    <div class="container">

        <section class="cards">

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Huahine-Iti Islands:</h2>
                        <img class="cardImage" src="../static/images/Huahine-Islands.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">The Huahine-Iti islands are in the South Pacific Ocean. They are
                            located among
                            the Society Islands apart of French Polynesia.
                            While famous for the for the large freshwater eels, deemed sacred by the locals, at
                            Underwater
                            Lifestyles we are offering saltwater fish from the area. </p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card-subtitle">Fish found in this environment</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Blue-Spotted Grouper</li>
                            <li>Longnose Butterfly Fish</li>
                            <!-- not needed yet
                  <p>General Tank Maintenance level and info about care</p>
                   link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Key-West:</h2>
                        <img class="cardImage" src="../static/images/KeyWest.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">Key West is the westmost point in the archipelagos of the Straits
                            of Florida. The saltwater life is a unique fusion of two ecosystems: The Atlantic Ocean, and
                            The Gulf of Mexico. We at Underwater Lifestyles are interested in bringing you some of this
                            diverse life so you can experience it in your home or office. </p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card-subtitle">Fish found in this environment</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Pollenei Grouper</li>
                            <li>Red Parrot Fish</li>
                            <li>Passer Angel Fish</li>
                            <!-- not needed yet
                  <p>General Tank Maintenance level and info about care</p>
                   link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Mediterranean Sea:</h2>
                        <img class="cardImage" src="../static/images/Mediterranean Sea.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">The Mediterranean Sea is a large body of water connected to the
                            Atlantic Ocean, surrounded entirely by land. Approximately 17,000 species (or over 6% of all
                            know species) have been discovered here. This hot spot for biodiversity is perfect for our
                            mission at Underwater Lifestyles. </p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card-subtitle">Fish found in this environment</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Rainbow Wrasse</li>
                            <li>Small Red Scorpion Fish</li>
                            <li>Tompot Blenny</li>
                            <!-- not needed yet
                  <p>General Tank Maintenance level and info about care</p>
                   link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Golden Coast:</h2>
                        <img class="cardImage" src="../static/images/GoldenCoast.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">Also referred to as the California Coastline, the Golden Coast
                            consists of many microclimates due to the cold California current and the hills and valleys
                            that run up and down it. Its vast ecosystem gives much to offer to the environment and from
                            Underwater Lifestyles. </p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card-subtitle">Fish found in this environment</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Electric Blue Dempsey</li>
                            <li>Green Reef Chromis</li>
                            <!-- not needed yet
                  <p>General Tank Maintenance level and info about care</p>
                   link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Lake Erie:</h2>
                        <img class="cardImage" src="../static/images/LakeErie.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description"> Lake Erie is one of the five Great Lakes of the Midwest. It is
                            known for its shallow, warm waters. It is fed by Detroit River and drains into the Niagara
                            river, forming the Niagara Falls. These elements create a complex ecosystem with many
                            species in constant interaction. Underwater Lifestyles calls Lake Erie our home and are
                            dedicated to preserving it. </p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card-subtitle">Fish found in this environment</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Goldfish</li>
                            <li>Brown Trout</li>
                            <!-- not needed yet
                  <p>General Tank Maintenance level and info about care</p>
                   link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Lake Edward:</h2>
                        <img class="cardImage" src="../static/images/Lake Edward.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">Lake Edward, or known locally as the Rutanzige, is the Smallest of
                            the African Great Lakes. This lake is located within National Parks, both in the Congo, and
                            Uganda. Volcanic Fields, with extensive cones and craters give the aquatic life a uniqueness
                            rarely seen anywhere else. A stunning environment that is breathtaking to see and be apart
                            of. Underwater Lifestyles is helping maintain this lake’s national protection. </p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card-subtitle">Fish found in this environment</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Ray Finned Fish</li>
                            <li>Gourami Fish</li>
                            <li>Nile Talapia</li>
                            <!-- not needed yet
                  <p>General Tank Maintenance level and info about care</p>
                   link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Rose River:</h2>
                        <img class="cardImage" src="../static/images/RoseRiver.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">The Rose River is small river in Piedmont Virginia voted best of
                            the Blue Ridge. This River is of the many endpoints of the Rappahannock River. Apart of the
                            Healing Waters Project and working closely with Underwater Lifestyles, we are helping the
                            environment in this area by bringing you a replication of this remote location. </p>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <footer class="footer">
        <small class="footer__copyright">&copy;Underwater Lifestyles 2020</small>
        <!-- <section class="footer__social">
            </section> -->
    </footer>

</body>

</html>