<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/singleFish.css" />
    <title>Underwater Lifestyles</title>
</head>

<body>

    <header class="header">
        <h1 id="header__logo">Underwater Lifestyles</h1>
        <nav class="header__nav">
            <!-- <ul class="header__nav_list">
                <li class="header__nav_listItem"><a href="#">About</a></li>
                <li class="header__nav_listItem"><a href="#">Contact</a></li>
            </ul> -->
        </nav>
    </header>

    <div class="container">

        <section class="singleFish">
            <figure>
                <img class="singleFish__image" src="../static/images/BlueSpotted.jpg" alt="trail profile">
            </figure>
            <article class="singleFish__heading">

                <h2 class="card__title">The Bluespotted Grouper</h2>
                <p class="singleFish__description">The bluespotted grouper is a species of marine ray-finned fish
                    a member of the subfamily Epinephelinae: the groupers. These fish stand out with the blue spots that
                    cover their body
                    The species is extremely widely distributed, occurring in warm waters
                    from the Red Sea to South Africa and east to French Polynesia and the Pitcairn group
                    These are a predator species, they like warm waters and lay mostly motionless </p>
            </article>
        </section>
    </div>


    <footer class="footer">
        <small class="footer__copyright">&copy;Underwater Lifestyles 2020</small>
        <!-- <section class="footer__social">
        </section> -->
    </footer>

</body>

</html>