<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/water.css" />
    <title>Underwater Lifestyles</title>
</head>

<body>

    <header class="header">
        <h1 id="header__logo">Underwater Lifestyles</h1>
        <nav class="header__nav">
            <!-- <ul class="header__nav_list">
                <li class="header__nav_listItem"><a href="#">About</a></li>
                <li class="header__nav_listItem"><a href="#">Contact</a></li>
            </ul> -->
        </nav>
    </header>

    <div class="container">

        <section class="cards">

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Salt Water</h2>
                        <img class="cardImage" src="../static/images/SaltWater.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description"> Salt Water composes most of the planets hydrosphere and is
                            integral to all life on the planet. The Worlds seas are the habitat of over 230,000 know
                            species, but so little of these seas are unexplored, some estimate that number to be over
                            2,000,000. Each species is unique: from microscopic algae to the largest know animals in
                            existence. At Underwater Lifestyles we are interested in helping you to safely bring these
                            species safely into your home or office.</p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card__subtitle">A list of Salt Water environments to choose from: </h3>
                        <ul class="list">
                            <!--  list elements will link to their individual pages.  -->
                            <li>Huahine-Iti Islands</li>
                            <li>Key-West</li>
                            <li>Mediterranean Sea</li>
                            <li>Golden Coast</li>
                        </ul>
                        <h3 class="car__-subtitle">Fish found in our Salt Water environments</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages    -->
                            <li>Pollenei Grouper</li>
                            <li>Rainbow Wrasse</li>
                            <li>Electric Blue Dempsey:</li>
                            <li>Small Red Scorpion Fish:</li>
                            <!-- not needed yet
                            <p>General Tank Maintence level and info about care</p>
                             link to all fish page -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flip__card">
                <div class="flip__card_inner">
                    <div class="flip__card_front">
                        <h2 class="card__title">Fresh Water</h2>
                        <img class="cardImage" src="../static/images/FreshWater.jpg" alt="Image of a reef" />
                        <!-- image would be linked to individual type page -->
                        <!-- information is displayed here, no need for link to another page -->
                        <p class="card__description">Fresh water is any naturally occurring water except for seawater.
                            All water is critical for the continual
                            life of all organisms.
                            Most Fresh water is accumulated precipitation forming vast streams, rivers, and Lakes.
                            The amount of Fresh Water species falls short of what is contained in the world’s oceans,
                            only clocking in
                            at around 10,000.
                            Many of them are small and may seem insignificant, but they pay a vital role in sustaining
                            life on our
                            planet.
                            At Underwater Lifestyles we are 100% committed to safe removal of all species we offer as
                            not to disturb any
                            part if the environment.</p>
                    </div>
                    <div class="flip__card_back">
                        <h3 class="card__subtitle">A list of Fresh Water environments to choose from:</h3>
                        <ul class="list">
                            <li>Lake Erie</li>
                            <li>Rose River</li>
                            <li>Lake Edward</li>
                            <!-- link to general type page
                              general type IS fresh water, we're on that page with the information displayed -->
                        </ul>
                        <h3>Fish found here</h3>
                        <ul class="list">
                            <!--   list elements will link directly to their individual fish pages   -->
                            <li>Goldfish</li>
                            <li>American Eel</li>
                            <li>Ray Finned Fish</li>
                            <li>Bleeding Heart Tetra</li>
                            <!-- link to general type page -->
                        </ul>
                        <!-- not needed yet
                        <p>General Tank Maintence level and info about care</p> -->
                    </div>
                </div>
            </div>

        </section>

    </div>

    <footer class="footer">
        <small class="footer__copyright">&copy;Underwater Lifestyles 2020</small>
        <!-- <section class="footer__social">
        </section> -->
    </footer>

</body>

</html>